<div class="p-5">
    <div class="d-flex w-100 justify-content-center">
        <h1 mat-dialog-title>Nueva Línea</h1>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="addLineForm">
            <div class="mb-3">
                <label for="name" class="form-label">Número:</label>
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="Numero" placeholder="">
                </div>
                <span class="text-danger"
                    *ngIf="importForm.get('Numero')?.invalid && importForm.get('Numero')?.touched">{{getErrorMessage('Numero')}}</span>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Creado Por: </label>
                <div class="input-group">
                    <select class="form-select" formControlName="employeId">
                        <option value="" disabled selected>Seleccione un empleado</option>
                        <option *ngFor="let employe of employees" [value]="employe.id">
                            {{ employe.nombre }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <app-date-picker placeholder="Fecha de ingreso" (dateChange)="onFechaSeleccionada($event)">
                </app-date-picker>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Comentario:</label>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Comentario" id="floatingTextarea"></textarea>
                </div>
            </div>
            <div class="mb-3">
                <app-date-picker placeholder="Fecha de ingreso" (dateChange)="onFechaSeleccionada($event)">
                </app-date-picker>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="w-100 d-flex justify-content-center">
        <button mat-button (click)="close()" class="btn btn-danger me-2">Cancelar</button>
        <button mat-button class="btn btn-success">Agregar</button>
    </div>
</div>