<div class="general-container">
    <div class="container p-2">
        <div class="mb-3">
            <label for="name" class="form-label">Nueva Importación:</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="Nueva Importación" placeholder="Nueva Importación">
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Línea:</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="nit" placeholder="Línea">
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">NIT:</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="nit" placeholder="NIT">
            </div>
        </div>
    </div>
</div>